<header>


</header>

<main class="page-container"> <!-- Caixa maior-->

    <div class="login-container">
        <img class="logo" src="imgs/logo.png" alt="Logo do senai notes">

          <h1 Class="titulo">Create Your Account</h1>
          <h3 Class="titulo">Sign up to start organizing your notes and boost your productivity.</h3>

           <div class="container">
          <div class="input">
                <span>Email address</span>
                <input class="inpt" type="email" placeholder="email@example.com" formControlName="email">
            </div>  
            
            <div class="input2">

                <span>Password</span>
                
                <input class="inpt" type="password" placeholder="" formControlName="password">

                <span class="least">  At least 8 charcters</span>

            </div>
        </div>

        <button>Sign up</button>

<div class="signup">
        <span> Already have an account? </span> 
        <a href="">Login</a>
        </div>
    </div>

</main>

<footer>


</footer>

