

.page-container h1 {

    font-size: 32PX;
    margin-bottom: 5px;

       }

.page-container h3 {

    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #2B2B2B;
       }

.page-container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-items: center;

    

}

.login-container {
    width: 31vw;/*Largura da tela*/
    height: 82vh;/*Altura da tela*/
    display: flex; /*Ativar o flex*/
    flex-direction: column; /*Muda o flex para colunas*/
    align-items: center; /*Centralizar horizontalmente*/
    justify-content: center;/*Centralizar verticalmente*/
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 16px;
   
}
.login-container .logo{
    margin-bottom: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    
}
.input2{
    display: flex;
    flex-direction: column;
    span{
        flex-direction: row;
        


    }
}





.inpt{

    padding: 18px;
    background-color: #F7F9FB;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
    margin-top: 5px;

}

.login-container button {
    background-color: #335CFF;
    margin-left: 20px;
    margin-right: 20px;
    width: 94%;
    height: 40px;
    padding: 0px;
    border-radius: 5px;
    color: #fffefe;
    font-size: 18px;
    cursor: pointer;
}

.login-container img {
    margin-top: 0px;
margin-bottom: 1px;

}

.least{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;

}

.signup{  
    margin-top: 20px;
    width: 435px;
    height: 40px;
    display: flex
;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    gap: 20px;
    font-weight: 400;
}